.login_form{
  background-color: #fff;
  height: 300px;
  width: 300px;
  margin-left: 500px;
  position: relative;
}
h1{
  color: #437BE1;
  font-family: times;
  font-size: 2em;
  padding: 10px;
  text-align: center;
}
.input_field
{
  width:200px;
  height: 30px;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid gray;
  margin: 5px 0px;
}
.login_buttom
{
  background-color: #437BE1;
  color: #fff;
  width:200px;
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
  margin: 5px 0px;
}
.new_acc_btn{
  color:#fff;
  width:200px;
  height: 30px;
  margin: 5px 0px;
}
